apiVersion: v1
kind: Secret
metadata:
  name: infisical-secrets
type: Opaque
stringData:
  AUTH_SECRET: {{ secret.infisical.auth_secret }}
  ENCRYPTION_KEY: {{ secret.infisical.encryption_key }}
  SITE_URL: {{ infisical.url  }}
